.highlight {
    background-color: yellow;
}
.error { 
    background-color: lightcoral;
    border: red;
}
h1 { 
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    color: black;
    text-align: center;
}
p { 
    font-family:'Times New Roman', Times, serif;
    font-size: 16px;
    color: black;
    line-height: 1.5;
    text-align: center;
}
input {
    font-family: Arial, sans-serif;
    font-size: 16px;
    padding: 5px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    left: 45%;
    right: 65%;
    position: absolute;
    transform: translateX(-50%);
    width: 60%;
   
}
button {
    font-family: Arial, sans-serif;
    font-size: 16px;
    padding: 5px 10px;
    margin: 5px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    left: 80%;
    right: 27%;
    position: relative;



}